.main_board {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    height: 12%;
    width: 50%;
    background-color: red;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);

}